body{
    background-color:rgb(161, 211, 211)
    
}

.Headdings{
    font-family: cursive;
    color: rgb(15, 40, 63);
    text-align: center;
    background-color: darkcyan;
 font-size: 40px;
 font-weight: 300px;
 border: 10px , solid;
border-radius: 20px;
border-color:darkcyan;
}

.Subheddings{
text-decoration-line: underline;
font-family: cursive;
color:rgb(59, 25, 129);
text-align:center;
font-size: 35px;
}
.type{ 
font-family: cursive ;
color: darkblue;
font-size:20px;
display:flex;
justify-content: center;
/* text-align:center; */
/* align-items: center; */
}

.book_pic{
height: 200px;
display: flex;
justify-content: center;

}

.home{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.home_img{
    height: 60px;
}
.book{
    font-family: cursive;
    font-size: 30px;
    font-weight: 500px;
 
   
}
.divergent_align{
    display: flex;
    justify-content: flex-start;
 flex-direction: row;
}
.divergent_cover{
    height: 400px;
    border: 10px , solid;
    border-radius: 30px;
    border-color:rgb(100, 11, 11);
}

 p{
    font-family: cursive;
    font-size: 20px;

 }
 .hungerGames_align{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;

   
}
.hungerGames_cover{
    height: 200px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(100, 11, 11);
}
.Attribution{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.shatterMe_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(29, 45, 139);
}
.shatterMe_align{
display: flex;
justify-content: flex-start;

}

.CatchingFire_cover{
    height: 400px;
font-family: Georgia;
color:rgb(59, 25, 129);
text-align:center;
}
.mockingjay_cover{
     height: 410px;
font-family: Georgia;
color:rgb(59, 25, 129);
text-align:center;
}

.type{ 
font-family: Georgia ;
color: darkblue;
}
 .loop_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(22, 34, 102);
}
.CHERUB_cover{
    height: 400px;
     border: 10px , solid;
border-radius: 30px;
border-color:rgb(243, 171, 88);
}
.PercyJackson_cover{
    height: 400px;
     border: 10px , solid;
border-radius: 30px;
border-color:rgb(58, 76, 94);
}
#button{
    background-color:rgb(172, 233, 204);
    border-radius: 40px;
}
.block_cover{
     height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(149, 66, 66);
}
.arc_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(92, 150, 67);
}
.recurit_cover{
     height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(234, 150, 25);
}
.ClassA_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(231, 12, 12);
}
.Maxmimum_cover{
     height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(19, 134, 222);
}
.Insurgent_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(112, 179, 231);
}
.Alligent_cover{
     height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(201, 68, 241);
}
.UnravelMe_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(45, 191, 224);
}
.PJOlightingthief_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(103, 236, 15);
}
.PJOseaofmonsters_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(236, 52, 15);
}
.PJOtitanscurse_cover{
    height: 400px;
    border: 10px , solid;
border-radius: 30px;
border-color:rgb(232, 229, 53);
}
.buttons_flex{
    display: flex;
    justify-content: center;
}
